@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'DM Sans', sans-serif;
  }
  
  html {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom styles for PWA feel */
@media (display-mode: standalone) {
  body {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}
